.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
}
.active{
    color:#DF0024;
}
.btn-purple {
    color: #411941;
    border-color: #411941;
  }
  .btn-purple:hover {
    background-color: #411941;
    color: white;
  }
  .submit{
    color: white;
    background-color: #411941;
  }
  .buttonBlock{
    text-align: center;
    justify-content: space-around;
    align-self:center;
  }