.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
}
.active{
    color: red;
}
.submit{
    background: rgba(65, 25, 65, 1);
    color: white;

}