<div class="flex-container">
    <div><h1>Add New Feedback</h1></div>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb btn btn-light p-2">
                <li class="breadcrumb-item"><a routerLink="/home" style="text-decoration: none; color:#BDBDBD">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Feedback Form</li>
            </ol>
        </nav>
    </div>
</div>
 <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
    <div class="container-fluid">
        <p>Feedback Form</p>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Feedback Input</label>
            <textarea formControlName="feedback" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    <div>
        <app-star-rating formControlName="rating"></app-star-rating>
    </div>

    <div class="buttonBlock">
            <button type="reset" class="btn btn-outline-primary btn-purple m-2">Back</button>
            <button type="submit" class="btn submit" [disabled]="!feedbackForm.valid">Submit</button>
          </div>

         
          
    </div>
 </form>